{% extends 'base.html' %}

{% block title %}Вакансии — Брауни Фуд{% endblock %}
{% block meta_description %}Актуальные вакансии в Брауни Фуд. Присоединяйтесь к команде по производству десертов и гастрономии.{% endblock %}

{% block content %}

<section class="py-24 vacancies-page">

    <div class="container-custom">

        <h1
            class="
                text-6xl
                font-bold
                text-primary
            "
        >
            Вакансии
        </h1>

        <div
            class="
                mt-16
                grid
                gap-10
            "
        >

            {% for vacancy in vacancies %}

                {% include 'components/vacancy_card.html' %}

            {% empty %}

                <p class="products-catalog-empty">
                    В данный момент открытых вакансий нет.
                </p>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}