<section
    class="
        py-24
    "
>

    <div
        class="
            container-custom
        "
    >

        <span
            class="
                text-accent
                uppercase
                tracking-[0.3em]
                text-sm
            "
        >
            Команда
        </span>

        <h2
            class="
                mt-4
                text-5xl
                font-bold
                text-primary
            "
        >
            Работа в Brauni
        </h2>

        <div
            class="
                mt-16
                grid
                gap-10
            "
        >

            {% for vacancy in vacancies %}

                {% include 'components/vacancy_card.html' %}

            {% endfor %}

        </div>

    </div>

</section>